STANDALONE_SINGLE_SPA=false
VUE_APP_KEYCLOAK_URL=${VUE_APP_KEYCLOAK_URL}
VUE_APP_KEYCLOAK_REALM=${VUE_APP_KEYCLOAK_REALM}
VUE_APP_KEYCLOAK_CLIENT_ID=${VUE_APP_KEYCLOAK_CLIENT_ID}
VUE_APP_KEYCLOAK_REFRESH_TOKEN_TIME_IN_MINUTES=${VUE_APP_KEYCLOAK_REFRESH_TOKEN_TIME_IN_MINUTES}
VUE_APP_PROJECT_MANAGER_BACKEND_URL=${VUE_APP_PROJECT_MANAGER_BACKEND_URL}
VUE_APP_PUBLIC_PATH=${VUE_APP_PUBLIC_PATH}
