.state_circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.state_circle.created {
    border: 1px solid #cccccc;
    background-color: #f2f2f2;
}
.state_circle.to_be_sent, .state_circle.to_be_sent_and_executed, .state_circle.sending, .state_circle.sending_and_executing,
.state_circle.export_running_1, .state_circle.export_running_2 {
    border: 1px solid #cccccc;
    background-color: #fff200;
}
.state_circle.request_changes, .state_circle.not_found, .state_circle.inactive, .state_circle.expired {
    border: 1px solid #cccccc;
    background-color: #fff200;
}
.state_circle.accepted, .state_circle.with_data, .state_circle.finished {
    border: 1px solid #cccccc;
    background-color: #009a00;
}
.state_circle.rejected, .state_circle.error {
    border: 1px solid #cccccc;
    background-color: red;
}
.state_circle.not_available {
    border: 1px solid #cccccc;
    background-color: #bbbbbb;
}
.green {
    background-color: #009a00;
}

.red {
    background-color: red;
}

.accepted-state {
    background-color: #009a00;
}
